body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: #ddd;
    color: #333;
}